.borderComponentContainer {
    border: 1px solid var(--greyOpacity);
    padding: 16px;
    border-radius: 10px;
    position: relative;
}

.boderComponentLabel {
    color: var(--grey);
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: -25px;
    left: 10px;
    background-color: var(--white);
}