.chooseColorViewContainer {

}

.chooseColorViewColorContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.chooseColorViewLabel {
    color: var(--grey);
    font-size: 15px;
    font-weight: 600;
}

.chooseColorViewColorItem {
    width: 80px;
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.chooseColorViewColorItemSelected {
    background-color: color-mix(in srgb, var(--primary), transparent 85%);
}

.chooseColorViewColorItem:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.chooseColorViewColor {
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

.chooseColorViewText {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}