.footerContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.footerParagraph {
    margin: 0;
    color: var(--grey);
}