.submitButton {
    cursor: pointer;
    padding: 10px 60px;
    border: unset;
    border-radius: 15px;
    color: var(--black);
    z-index: 1;
    background: var(--primary);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    align-self: flex-end;
}

.submitButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--black);
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.submitButton:hover {
    color: var(--white);
}

.submitButton:hover::before {
    width: 100%;
}

.alignToRight {
    align-self: flex-start;
}

.alignToRight::before {
    left: auto;
    right: 0;
}