.summaryRowContainer {
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 4px;
    position: relative;
    padding: 2px 0px;
    height: auto;
}

.summaryRowTitle {
    margin: 0;
    color: var(--grey);
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: var(--white);
}

.summaryRowValue {
    text-align: right;
    margin: 7px 5px 5px 0px;
    word-break: break-all;
    overflow-wrap: anywhere;
}