.textInputContainer {
    position: relative;
    flex: 1
}

.labelContainer {
    position: absolute;
    top: 0px;
    left: 5px;
    color: var(--grey);
    transition: all 0.2s ease;
    cursor: text;
}

.textInputContent {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--primary);
    font-size: 18px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.textInputContentError {
    border-bottom: 2px solid var(--red);
}

.textInputContent:focus {
    outline: none;
    border-image: linear-gradient(to right, var(--primary), var(--black));
    border-image-slice: 1;
}

.textInputContainer:focus-within > .labelContainer {
    color: var(--primary);
    font-size: 15px;
    transform: translateY(-23px);
    font-weight: 600;
    cursor: default;
}

.textInputContent:not(:placeholder-shown) + .labelContainer {
    font-size: 15px;
    transform: translateY(-23px);
    font-weight: 600;
    cursor: default;
}

.textInputError {
    font-size: 14px;
    margin-top: 4px;
    color: var(--red);
}

.inputIcon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}