.formContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dataSummaryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dataSummaryIcon {
    width: 75%;
    border-radius: 10px;
}

.doubleTextInput {
    display: flex;
    gap: 20px;
}