.carouselItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.itemCarouselaContainer {
    max-width: 100%;
    height: auto;
    flex: 1;
    object-fit: contain;
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.itemCarouselaContainer:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.itemCarouselaImage {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.carouselaImageItemText {

}

.formContainer {
    display: flex;
    flex-direction: column;
}

.finishesAndAccessoriesForm {
    gap: 20px;
}